

<h1 align="center">Update new Provider</h1>

<div class="container">
  <br />
  <div class="row">
    <div class="col-md-4"></div>
    <div class="col-md-4">
        <label for="name">Name</label>
        <input
          required
          id="name"
          type="text"
          ngModel
          name="name"
          class="form-control"
        />

        <label for="Adress">Adress</label>
        <input
          required
          id="address"
          type="text"
          name = "address"
          class="form-control"
        />

        <button type="submit" class="btn btn-primary">Envoyer</button>

    </div>

    <div class="col-md-4"></div>
  </div>
</div>
